ignored = ["github.com/containous/traefik/autogen/genstatic"]

[[constraint]]
  branch = "master"
  name = "github.com/jjcollinge/servicefabric"

[[constraint]]
  branch = "master"
  name = "github.com/cenk/backoff"

[[override]]
  branch = "master"
  name = "github.com/containous/traefik"

[[override]]
  name = "github.com/Sirupsen/logrus"
  revision = "10f801ebc38b33738c9d17d50860f484a0988ff5"

# Gopkg.toml example
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#  name = "github.com/x/y"
#  version = "2.4.0"
